<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%" >
  <mat-card fxFlex="80" style="margin-top: 16px; height: 100%" fxLayout="row" >
    <mat-tab-group style="height: 100%" fxFlex="100">

      <mat-tab label="Pending Verification">
        <div  *ngIf="!loading && pendingUsers.length > 0">
            <mat-card style="margin-top: 1px;" *ngFor="let user of pendingUsers" fxLayout="row">
                <div fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                  {{user.username}}
                </div>
                <div>
                    <a mat-raised-button color="accent" [routerLink] = "['/userinfo',user.username]">Verification Page</a>
                </div>
              </mat-card>
            </div>
      </mat-tab>
    <mat-tab label="Verified Users" >
      <div *ngIf="!loading && verifiedUsers.length > 0">
            <mat-card  style="margin-top: 1px;"*ngFor="let user of verifiedUsers" fxLayout="row">
              <div fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                {{user.username}}
              </div>
              <div>
                  <a mat-raised-button color="accent" [routerLink] = "['/userinfo',user.username]">See details</a>
              </div>

            </mat-card>
          </div>
        </mat-tab>
    </mat-tab-group>

  </mat-card>

</div>


