<div>
  <div style ="margin-top: 16px;" fxLayout="row" fxLayoutAlign="center center">
    <h1 class="mat-h1">Sign up to Online Shop</h1>
</div>
<mat-card class="error" *ngIf="errorText"><h2 class="mat-title">{{errorText}}</h2></mat-card>
<mat-card style="margin-bottom: 150px;">
    <form
    fxLayout ="row warp" fxLayoutAlign="center center"
    (submit)="onSignup(signupForm)"  #signupForm="ngForm" *ngIf="!isLoading" [mustMatch]="['password', 'confirmPassword']">
        <mat-form-field fxFlex="70">
            <input
            name="email"
            ngModel
            type="email"
            matInput type="email"
            placeholder="E-mail"
            #emailInput="ngModel"
            required
            email>
            <mat-error *ngIf="emailInput.invalid"> Please enter a valid email adress. </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="70">
            <input
            name="username"
            ngModel
            type="text"
            matInput
            placeholder="Username"
            #usernameInput="ngModel"
            required >
            <mat-error *ngIf="usernameInput.invalid"> Please enter a Username. </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="70">
            <input
            name="password"
            [(ngModel)]="model.password"
            type="password"
            matInput
            placeholder="Password"
            #passwordInput="ngModel"
            required
            minlength="3">
            <mat-error *ngIf="passwordInput.invalid">Password must contain at least six characters</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="70">
              <input
              name="confirmPassword"
              [(ngModel)]="model.confirmPassword"
              type="password"
              matInput
              placeholder="Confirm Password"
              #ConfirmPasswordInput="ngModel"
              required>
              <mat-error *ngIf="ConfirmPasswordInput.invalid">Passwords Do Not Match</mat-error>
            </mat-form-field>
        <mat-form-field fxFlex="70">
            <input
            name="firstname"
            ngModel
            type="text"
            matInput
            placeholder="First Name"
            #firstnameInput="ngModel"
            >
            <mat-error *ngIf="firstnameInput.invalid"> Please enter a First Name. </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="70">
            <input
            name="lastname"
            ngModel
            type="text"
            matInput
            placeholder="Last Name"
            required
            #lastnameInput="ngModel"
            >
            <mat-error *ngIf="lastnameInput.invalid"> Please enter a Last Name. </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="70">
            <input
            name="phone"
            ngModel
            type="text"
            matInput
            placeholder="Phone Number"
            required
            #phoneInput="ngModel"
            >
            <mat-error *ngIf="phoneInput.invalid"> Please enter a  Valid Phone Number. </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="70">
            <input
            name="afm"
            ngModel
            type="text"
            matInput
            placeholder="afm"
            #afmInput="ngModel"
            required
            >
            <mat-error *ngIf="afmInput.invalid"> Please enter a  Valid Location. </mat-error>
        </mat-form-field>
        <mat-card fxFlex="85">
          <h5>Please enter your location.</h5>
          <agm-map
          [latitude]="latitude"
          [longitude]="longitude"
          [zoom]="zoom"
          >
            <agm-marker
            [latitude]="latitude"
            [longitude]="longitude"
            [markerDraggable]="true"
            (dragEnd)=(markerDragEnd($event))>
            </agm-marker>
          </agm-map>
        </mat-card>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 16px;">
        <button
        style="width: 120px;"
        mat-raised-button
        color = 'accent'
        type="submit"
        [disabled]="signupForm.invalid"
        >
        {{buttonText}}
        </button>
        </div>
    </form>
</mat-card>
</div>

