
<mat-spinner *ngIf="isLoading"></mat-spinner>
  <div fxLayout="row warp" fxLayoutAlign="center stretch">
    <div fxFlex="20" *ngIf="!isLoading" style="border-right: 1px solid black; border-bottom: 1px solid black">
        <button
          mat-menu-item
          *ngFor="let category of this.categories"
          (click)="onCategoryChosen(category._id, category.name)">
          <span style="font-size: 18px;">
            {{category.name}}
          </span>
        </button>
    </div>
    <!-- List all auctions. -->
    <div fxLayout="row" fxLayoutGap="0.5%" fxLayoutAlign="center" *ngIf="getMode() && !isLoading && recommendations.length > 0">
        <mat-card *ngFor="let auction of recommendations" fxFlex="20">
            <a
            mat-button color="primary"
            [routerLink]="['/auction/', auction.id]">
              <div class="auction-image-all">
                  <img mat-card-image [title]="auction.name"[src]="auction.image" [alt]="auction.name">
                  <div class="auction-description">
                    <h4>{{auction.name}}</h4>
                    <p>{{auction.buyPrice}} $</p>
                  </div>
              </div>
          </a>
        </mat-card>

      </div>
    <div *ngIf="getMode() && !isLoading && auctions.length > 0" fxFlex="80">
      <mat-grid-list cols="4" rowHeight="1:1" >
        <mat-grid-tile *ngFor="let auction of auctions">
            <a
            mat-button color="primary"
            [routerLink]="['/auction/', auction.id]">
          <div class="grid">
              <div class="auction-image-all">
                  <img [title]="auction.name"[src]="auction.image" [alt]="auction.name">
                  <div class="auction-description">
                    <h4>{{auction.name}}</h4>
                    <p>{{auction.buyPrice}} $</p>
                  </div>
              </div>
          </div>
        </a>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-paginator [length]="totalAuctions"
                     [pageSize]="auctionsPerPage"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="onChangePage($event)">
      </mat-paginator>
    </div>
    <p fxFlex="80" class="info-text mat-body-1" *ngIf="getMode() && auctions.length <= 0 && !isLoading">No auctions found!</p>

  </div>





  <!-- If we need to show just one auction. -->
  <div fxLayout="row warp" *ngIf="!getMode() && !isLoading">
    <div *ngIf="username === 'admin'" style="margin-top: 16px;"fxFlex="100" fxLayout="row" fxLayoutAlign ="center center " fxLayoutGap="0.5%">
      <button mat-raised-button color="accent" (click)="onExtract('XML', auction.id)"> Extract as XML</button>
      <button mat-raised-button color="accent" (click)="onExtract('JSON', auction.id)"> Extract as JSON</button>
    </div>
      <h2 style="text-align: center;"fxFlex="100">{{ auction.name }}</h2>
      <div fxFlex="35">
          <img [src]="this.auction.image" [alt]="this.auction.name">
      </div>
      <div fxFlex="65" style="text-align: center; ">
          <h3>Item's information</h3>
          <p *ngIf="checkBuyPrice(this.auction.buyPrice)">
            Instant buy price: {{ this.auction.buyPrice }}
          </p>
          <p>Auction deadline: {{this.auction.endDate }}</p>
          <p *ngIf="this.categoryNames">Item category: {{this.categoryNames}}</p>
          <p>Country: {{this.auction.country}}</p>
          <p>Address: {{this.auction.address}}</p>
          <p>Highest bid: {{this.auction.highestBid}}</p>
          <p>Description: {{this.auction.description}}</p>
      </div>
      <div fxFlex="100" fxLayout="row warp" fxLayoutAlign="center center" style="text-align: center;">
        <div fxFlex="40">
            <h4>Item's location</h4>
            <agm-map [latitude]="toNumber(this.auction.latitude)" [longitude]="toNumber(this.auction.longitude)">
                  <agm-marker
                    [latitude]="this.auction.latitude"
                    [longitude]="this.auction.longitude">
                  </agm-marker>
          </agm-map>
        </div>
        <div fxFlex="60">
            <h4>Bid information</h4>
            <button mat-button *ngIf="this.auction.bids" (click)="onBidList(this.auction)">Show detailed bid information...</button>
            <div class="bid" *ngIf="this.auction.startDate !== null && this.authenticationService.getLoggedUserId()">
                <input type="number" [(ngModel)]="bidValue" placeholder="Bid amount">
                <button
                  mat-raised-button
                  color="warn"
                  (click)="onBidSubmit()">Submit Bid!
                </button>
                <mat-error *ngIf="bidErrorMessage">{{bidErrorMessage}}</mat-error>
            </div>
        </div>
      </div>

      <div fxFlex="100">
          <div class="seller" *ngIf="checkOwnership(this.auction.sellerId)">
            <div class="buttons">
              <button
                mat-button
                color="accent"
                (click)="onStart(this.auction.id)"
                *ngIf="this.auction.startDate === null">Start auction
              </button>
              <a
                mat-button color="primary"
                [routerLink]="['/auction/edit', this.auction.id]"
                *ngIf="this.auction.startDate === null">Edit auction</a>
              <button mat-button color="warn" (click)="onDelete(this.auction.id)">Delete auction</button>
            </div>
          </div>
      </div>
  </div>


