.search-bar {
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.search-bar ng5-slider {
  width: 35%;
  height: 90%;
  margin-top: 1.5rem;
  margin-right: 1rem;
  float: right;
  font-size: 1rem;
}

.search-bar input {
  height: 65%;
  width: 30%;
  margin: 10px 1rem;
  float: left;
}

.search-bar button {
  height: 65%;
  margin: 10px 0;
  border: 1px dotted black;
}

mat-spinner {
  margin: 2rem auto;
}

img {
  width: 100%;
  height: 100%;
}

mat-grid-list {
  margin: 1rem 1rem;
}

mat-grid-tile {
  background-color: rgb(182, 220, 255);
  border-style: ridge;
}

mat-grid-tile a {
  width: 100%;
  height: 100%;
  margin: 0;
}

.grid {
  width: 100%;
  height: 100%;
}

.auction-image-all {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.auction-image-all img {
  height: 70%;
  width: auto;
  max-width: 100%;
  float: center;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.auction-description {
  width: 100%;
  height: 25%;
  margin: 0 auto;
  float: bottom;
}

.auction-description h4 {
  margin: 0 auto;
  display: inline-block;
  text-align: justify;
  text-shadow: 2px 1px lightgray;
}

.auction-description p {
  margin-top: 0;
  margin-left: 15px;
  display: inline-block;
}

.grid-info {
  margin: 1rem 2rem;
  text-align: left;
}

.grid h3 {
  text-align: center;
  font-size: 2rem;
}

.grid a {
  width: 30%;
  height: 2rem;
  margin: 2rem 5rem;
  display: block;
  text-align: center;
  background-color: rgb(90, 162, 255);
}

agm-map {
  height: 300px;
  width: 50%;
}

.single-auction {
  width: 80%;
  margin: auto;
}

.single-auction h2 {
  text-align: center;
}

.auction-image-single {
  width: 40%;
  height: auto;
  float: right;
  margin: 0 0;
}

.buttons {
  width: 100%;
  display: block;
  text-align: right;
}

.bid {
  margin: 1rem 1rem;
}
