
<mat-spinner *ngIf="isLoading"></mat-spinner>

  <!-- List all auctions. -->
  <mat-grid-list cols="2" rowHeight="2:1" *ngIf="getMode() && !isLoading">
    <mat-grid-tile *ngFor="let auction of auctions">
      <div class="grid">
          <h3>{{ auction.name }}</h3>
          <div class="auction-image">
              <img [src]="auction.image" [alt]="auction.name">
          </div>
          <div class="grid-info" *ngIf="checkBuyPrice(auction.buyPrice)">
              <p>Instant buy price: </p> <h4>{{ auction.buyPrice }}</h4>
              <p>Auction deadline: </p><h4>{{auction.endDate }}</h4>
          </div>
          <a
            mat-button color="primary"
            [routerLink]="['/auction/', auction.id]">
            See full auction.
          </a>
      </div>

    </mat-grid-tile>
  </mat-grid-list>


  <!-- If we need to show just one auction. -->
  <div class="single-auction" *ngIf="!getMode() && !isLoading">
      <h3>{{ auction.name }}</h3>
      <div class="auction-image">
          <img [src]="this.auction.image" [alt]="this.auction.name">
      </div>
      <div class="grid-info">
          <p *ngIf="checkBuyPrice(this.auction.buyPrice)">
            Instant buy price: {{ this.auction.buyPrice }}
          </p>
          <p>Auction deadline: {{this.auction.endDate }}</p>
          <p>Item category: {{this.auction.category}}</p>
          <p>Country: {{this.auction.country}}</p>
          <p>Address: {{this.auction.address}}</p>
          <p>Highest bid: {{this.auction.highestBid}}</p>
          <agm-map [latitude]="toNumber(this.auction.latitude)" [longitude]="toNumber(this.auction.longitude)">
              <agm-marker
                [latitude]="this.auction.latitude"
                [longitude]="this.auction.longitude">
              </agm-marker>
          </agm-map>
          <button
            mat-button
            color="accent"
            (click)="onStart(this.auction.id)"
            *ngIf="this.auction.startDate === null">Start auction</button>
          <a
            mat-button color="primary"
            [routerLink]="['/auction/edit', this.auction.id]"
            *ngIf="this.auction.startDate === null">Edit auction</a>
          <button mat-button color="warn" (click)="onDelete(this.auction.id)">Delete auction</button>
      </div>
  </div>

<p class="info-text mat-body-1" *ngIf="getMode() && auctions.length <= 0 && !isLoading">No auctions added yet!</p>


<!--<mat-accordion *ngIf="!isLoading && auctions.length > 0">
  <mat-expansion-panel *ngFor="let auction of auctions">
    <mat-expansion-panel-header>
      <div>
        <h3>{{ auction.name }}</h3>

        <div *ngIf="checkBuyPrice(auction.buyPrice)">
          <p>Instant buy price: </p> <h4>{{ auction.buyPrice }}</h4>
        </div>
        <p>Auction deadline: </p><h4>{{auction.endDate }}</h4>
      </div>
    </mat-expansion-panel-header>
    <h4>Item description: </h4>
    <p>{{ auction.description }}</p>
    <br>
    <h4>Seller Rating:</h4>
    <p>{{ auction.sellerRating }}</p>
    <br>
    <h3>Item categories: </h3>
    <p>{{ auction.category }}</p>
    <br>
    <div  *ngIf="checkBuyPrice(auction.buyPrice)">
      <h3>Instant buy price: </h3>
      <p>Buy price: {{ auction.buyPrice }}</p>
    </div>
    <br>
    <h3>Current highest bid: </h3>
    <p>{{ auction.highestBid }}</p>
    <br>
    <h3>Auction ending date: </h3>
    <p>{{ auction.endDate }}</p>
    <br>
    <h3>Location: {{ auction.address }}</h3>
    <agm-map [latitude]="auction.latitude" [longitude]="auction.longitude">
      <agm-marker [latitude]="auction.latitude" [longitude]="auction.longitude">
       </agm-marker>
    </agm-map>
    <mat-action-row>
        <button
          mat-button
          color="accent"
          (click)="onStart(auction.id)"
          *ngIf="auction.startDate === null">Start auction</button>
        <a
          mat-button color="primary"
          [routerLink]="['/auction/edit', auction.id]"
          *ngIf="auction.startDate === null">Edit auction</a>
        <button mat-button color="warn" (click)="onDelete(auction.id)">Delete auction</button> -->
      <!-- Need to add a new button which starts the auction-->
  <!--  </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
 -->
