<div style="margin-top: 20%" fxLayout="row"></div>
<div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="65" fxLayout="row warp">
        <div fxFlex="100" style="text-align: center">
            <p>Your Data have been sent successfully. Please wait for the administrator to verify and activate your account.</p>
        </div>
        <div style="margin-top: 16px;" fxFlex = "100" fxLayout="row" fxLayoutAlign="center center">
            <a mat-raised-button color="accent" routerLink = "/">Home</a>
        </div>
      </mat-card>
</div>

