<div fxLayout="row" fxLayoutAlign="center center">
<mat-card fxFlex ="80" style="margin-top: 16px;">
    <mat-drawer-container class="mailbox">

        <mat-drawer mode="side" opened style="width: 9%">
          <button *ngIf="whichFolder ==='inbox'" color="accent" mat-flat-button (click)="onClickedInbox()"> Inbox <mat-icon>inbox</mat-icon> </button>
          <button *ngIf="whichFolder !=='inbox'"  mat-flat-button (click)="onClickedInbox()"> Inbox <mat-icon>inbox</mat-icon> </button>
          <button style="margin-top: 7px;" *ngIf="whichFolder ==='sent'" color="accent" mat-flat-button (click)="onClickedSent()"> Sent &nbsp; <mat-icon> send</mat-icon></button>
          <button style="margin-top: 7px;" *ngIf="whichFolder !=='sent'" mat-flat-button (click)="onClickedSent()"> Sent &nbsp; <mat-icon> send</mat-icon></button>
        </mat-drawer>

        <mat-drawer-content>

        <!-- Inbox Page -->
        <span *ngIf="whichFolder==='inbox' && !messageOpen">
            <mat-card class="hiddenDelete" (click) ="messageOpened(message)" *ngFor="let message of inbox" style="margin-bottom: 5px; cursor: pointer;"
            appMaterialElevation [defaultElevation]="0" raisedElevation="6">
            <div fxLayout="row">
              <div fxFlex="70" fxLayout="row" *ngIf="message.isRead">
                  <span fxFlex="30" class="mat-body-1" style="font-size: 16px;">from: &nbsp; {{message.from}} </span>
                  <span fxFlex="70" class="mat-body-1" style="font-size: 16px;">{{message.title}}</span>
              </div>
              <div fxFlex="70" fxLayout="row" *ngIf="!message.isRead">
                  <span fxFlex="30"style="font-size: 16px; font-weight: bold;" (click) ="messageOpened(message)">from: &nbsp; {{message.from}}</span>
                  <span fxFlex="70" style="font-size: 16px; font-weight: bold;" >{{message.title}}</span>
              </div>
              <div fxFlex="30" fxLayout="row" fxLayoutAlign="end">

                <button (click)="onDeleteMessage(message._id)" mat-button><mat-icon style="color:dimgray">delete</mat-icon></button>
              </div>
            </div>
        </mat-card>
        </span>

        <!-- Sent Page -->
        <span *ngIf="whichFolder==='sent' && !messageOpen">
            <mat-card class="hiddenDelete" (click) ="messageOpened(message)" *ngFor="let message of sent" style="margin-bottom: 5px; cursor: pointer;"
            appMaterialElevation [defaultElevation]="0" raisedElevation="6">
            <div fxLayout="row">
              <div fxFlex="70" fxLayout="row">
                  <span fxFlex="30" class="mat-body-1" style="font-size: 16px;">from: &nbsp; {{message.from}} </span>
                  <span fxFlex="70" class="mat-body-1" style="font-size: 16px;">{{message.title}}</span>
              </div>
              <div fxFlex="30" fxLayout="row" fxLayoutAlign="end">
                  <button (click)="onDeleteMessage(message._id)" mat-button><mat-icon style="color:dimgray">delete</mat-icon></button>
              </div>
            </div>
        </mat-card>
        </span>

        <!-- Open Message Page -->
        <div *ngIf= "messageOpen && !openReply" fxLayout="row">
          <div style="width: 75%; margin:auto;">
              <h2 style="padding-left: 10px;" class="mat-h2">{{openMessage.title}}</h2>
              <div fxLayout="row">
                <div fxFlex="50" fxLayout="row" fxLayoutAlign="start">
                    <span style="padding-left: 10px;">from: &nbsp;{{openMessage.from}}</span>
                </div>
                <div fxFlex="50" fxLayout="row" fxLayoutAlign="end">
                    <button (click)="onDeleteMessage(openMessage._id)" mat-button><mat-icon style="color:dimgray">delete</mat-icon></button>
                </div>
              </div>

          <mat-card fxLayout="row warp" fxLayoutAlign=" center center" class ="mat-body-1" style= "font-size: 15px; margin-top: 20px;" >
            <div fxFlex="100">{{openMessage.content}}</div>
            <div fxFlex="100">
              <p>Please rate your experience: </p>
              <star-rating value="5" checkedcolor="red" uncheckedcolor="gray" size="20px" readonly="false"
                 (rate)="onRateUser($event, openMessage.rating , openMessage.fromId)" *ngIf="openMessage.rating"></star-rating>
            </div>
            <div fxFlex="100" *ngIf="whichFolder==='inbox'" style="text-align: center; margin-top: 15px;">
              <button (click)="openReply = true" mat-raised-button color="accent">Reply</button>
              <button style="margin-left: 7px;" (click)="messageOpen=false" mat-raised-button color="accent">Back</button>
            </div>
          </mat-card>
        </div>
      </div>

        <!-- Reply Page -->
        <div *ngIf= "openReply" fxLayout="row">
          <mat-card style ="width: 80%; margin: auto; margin-top: 20px;" >
              <form (submit)="onReply(replyForm)" #replyForm="ngForm" fxLayout="row warp" fxLayoutAlign="center center">
                  <mat-form-field fxFlex="80"><input ngModel name="title" matInput type="text" placeholder="Title" required></mat-form-field>
                  <mat-form-field fxFlex="80"><textarea ngModel  rows ="6"name="content" matInput  placeholder="Message" required></textarea></mat-form-field>
                  <div fxFlex = 100 fxLayout="row" fxLayoutAlign="center center">
                    <button [disabled]="replyForm.invalid" mat-raised-button color="accent" type="submit">Send Reply</button>
                    <button mat-raised-button color="accent" style="margin-left: 7px;" (click)="this.openReply = false">Back</button>
                  </div>
                </form>
          </mat-card>

        </div>
        </mat-drawer-content>

      </mat-drawer-container>
</mat-card>
</div>
