<mat-card stle="height= 100%">
  <mat-grid-list cols="11" rowHeight="2:4">
      <mat-grid-tile colspan="1">
        <mat-grid-tile-header>
            <mat-list >
                <button mat-button (click)="atSent= true"> Sent </button>
                <br>
                <button mat-button (click)="atInbox = true"> Inbox </button>
               </mat-list>
        </mat-grid-tile-header>

      </mat-grid-tile>
      <mat-grid-tile style="background-color:aqua"colspan="10">
        <div *ngIf= "!messageOpen && atInbox">
          <mat-card *ngFor="let message of inbox">
            <button *ngIf="message.isRead" (click) ="messageOpened(message)">{{message.title}}</button>
            <button style="font-weight: bold" *ngIf="!message.isRead" (click) ="messageOpened(message)">{{message.title}}</button>
          </mat-card>
        </div>
        <div *ngIf= "!messageOpen && atSent">
          <mat-card *ngFor="let message of sent">
            <button *ngIf="message.isRead" (click) ="messageOpened(message)">{{message.title}}</button>
            <button style="font-weight: bold" *ngIf="!message.isRead" (click) ="messageOpened(message)">{{message.title}}</button>
          </mat-card>
        </div>
        <div *ngIf= "messageOpen && !openReply">

          <mat-card >From: {{openMessage.from}} Title: {{openMessage.title}}</mat-card>
          <mat-card >Content: {{openMessage.content}}</mat-card>

          <div><button mat-raised-button color="accent" (click)="openReply = true">Reply</button></div>
          <div><button mat-raised-button color="warn" (click)="onDeleteMessage(openMessage._id)">Delete</button></div>

        </div>
        <div *ngIf= "openReply">
            <form (submit)="onReply(replyForm)" #replyForm="ngForm">
              <mat-form-field><input ngModel name="title" matInput type="text" placeholder="Title" required></mat-form-field>
              <mat-form-field><textarea ngModel name="content" matInput  placeholder="Message" required></textarea></mat-form-field>
              <div><button [disabled]="replyForm.invalid" mat-raised-button color="accent" type="submit">Send Reply</button></div>
            </form>
        </div>
      </mat-grid-tile>
  </mat-grid-list>
</mat-card>
