mat-grid-tile{
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}

mat-grid-tile-header {
  background-color: white;
  height: fit-content;
}

.mailbox {
  height: 800px;
}

.hiddenDelete mat-icon {
  display: none;
}
.hiddenDelete:hover mat-icon {
  display: inline;;
}

