<mat-toolbar fxLayout="row warp" color="primary">
  <mat-toolbar-row fxFlex="100" fxLayout="row" fxLayoutAlign="space-around center">
    <a fxFlex="20" routerLink = "/">online-shop</a>
    <div fxFlex="50">
      <!-- Search will be here  -->
      <input type="text" placeholder="Search auctions..." [(ngModel)]="searchValue">
      <button mat-stroked-button (click)="onPickCategory()" [matMenuTriggerFor]="firstLevelCategories">{{this.searchCategoryName}}</button>
      <mat-menu #firstLevelCategories="matMenu">
      <button
        mat-menu-item
        *ngFor="let category of categories"
        (click)="onSearchCategoryChosen(category._id, category.name)">
        <span style="font-size: 17px;">
          {{category.name}}
        </span>
        </button>
      </mat-menu>
      <button mat-button (click)="onPriceRangeClick()">
        Price range <i class="material-icons">arrow_downward</i>
      </button>
      <button mat-raised-button (click)="onSearchSubmit()" style="margin-left: 5px;">
        <i class="material-icons">
          search
        </i>
      </button>
    </div>
    <div fxFlex="30" fxLayout="row">
      <a fxFlex="50" mat-button *ngIf="!userAuthenticated" routerLink = "/signup" routerLinkActive= "mat-accent ">Signup</a>
      <a fxFlex="50" mat-button *ngIf="!userAuthenticated" routerLink = "/login" routerLinkActive= "mat-accent ">Login</a>
      <div>
        <a mat-button *ngIf="userAuthenticated && username !== 'admin'" routerLink = "/auction/create">Create an auction</a>
        <a mat-button *ngIf="userAuthenticated && username === 'admin'" routerLink = "/admin">User List</a>
        <a mat-button *ngIf="userAuthenticated && username !== 'admin'" routerLink = "/user/messages">
          <mat-icon *ngIf="numOfUnreadMessages > 0" matBadge={{numOfUnreadMessages}} matBadgeColor="warn">message</mat-icon>
          <mat-icon *ngIf="numOfUnreadMessages == 0" >message</mat-icon>
        </a>
      </div>
      <button mat-button *ngIf="userAuthenticated" (click)="onLogout()">Logout</button>
      <button mat-button *ngIf="userAuthenticated" >{{username}}</button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row fxFlex="100" *ngIf="this.showSlider">
      <ng5-slider [(value)]="sliderMinValue" [(highValue)]="sliderMaxValue" [options]="sliderOptions"></ng5-slider>
  </mat-toolbar-row>
</mat-toolbar>
