<mat-toolbar fxLayout="row warp" color="primary">
  <mat-toolbar-row fxFlex="100" fxLayout="row" fxLayoutAlign="space-around center">
    <a fxFlex="20" href="#">online-shop</a>
    <div fxFlex="20">
      <!-- Search will be here  -->
      <a  mat-button routerLink="/" style="margin: 0 auto;">Search</a>
    </div>
    <div fxFlex="30" fxLayout="row">
      <a fxFlex="50" mat-button *ngIf="!userAuthenticated" routerLink = "/signup" routerLinkActive= "mat-accent ">Signup</a>
      <a fxFlex="50" mat-button *ngIf="!userAuthenticated" routerLink = "/login" routerLinkActive= "mat-accent ">Login</a>
      <div>
        <a mat-button *ngIf="userAuthenticated && username !== 'admin'" routerLink = "/auction/create">Create an auction</a>
        <a mat-button *ngIf="userAuthenticated && username === 'admin'" routerLink = "/admin">User List</a>
        <a mat-button *ngIf="userAuthenticated && username !== 'admin'" routerLink = "/user/messages">
          <mat-icon *ngIf="numOfUnreadMessages > 0" matBadge={{numOfUnreadMessages}} matBadgeColor="warn">message</mat-icon>
          <mat-icon *ngIf="numOfUnreadMessages == 0" >message</mat-icon>
        </a>
      </div>
      <button mat-button *ngIf="userAuthenticated" (click)="onLogout()">Logout</button>
      <button mat-button *ngIf="userAuthenticated" >{{username}}</button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row fxFlex="100" *ngIf="this.showSlider">
      <ng5-slider [(value)]="sliderMinValue" [(highValue)]="sliderMaxValue" [options]="sliderOptions"></ng5-slider>
  </mat-toolbar-row>
</mat-toolbar>
